@font-face {
  font-family: lcdmono2;
  src: url(font/lcdmono2.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: #eff3f4;
  font-family: Arial, sans-serif;
  font-size: medium;
}

/* LOGIN  */
.login {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.login h2 {
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
#username,
#password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  box-sizing: border-box;
}
.login .submit {
  display: flex;
  width: fit-content;
  padding: 10px;
  margin-top: 20px;
  margin-left: 170px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.login .submit:hover {
  background-color: #1b4332;
  color: #eff3f4;
  transition: background-color 0.2s;
}

/* NAV BAR */
header {
  position: fixed;
  width: 100%;
  background-color: #1b4332;
  color: #fff;
  padding: 2px;
}
.navigation {
  width: 100%;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
  position: sticky;
}
.navlist {
  float: right;
}
.navlist a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}
.navlist a:hover {
  background-color: #111;
}

/* MENU BAR */
.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eff3f4;
  border-right: 1px solid #b2b2b2;
}
.sidebar .menulabel {
  color: #1b4332;
}
.sidebar ul {
  display: block;
  padding: 0;
  color: #000;
}
.sidebar ul li {
  display: block;
  padding: 5px;
}
.sidebar ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
.sidebar ul li a:hover {
  background-color: #1b4332;
  color: #eff3f4;
  transition: background-color 0.2s;
}
.sidebar .inbox-counter {
  width: 25px;
  height: 25px;
  margin-top: -11%;
  margin-left: 90%;
  border-radius: 50%;
  background-color: #28d645;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.sidebar img{
  width:200px;
  height:30px;
  padding-left: 8px;
} 

/* HOME PAGE */
.container.home .title {
  text-align: center;
}
.container.home .datetime {
  text-align: center;
  font-family: lcdmono2;
}

/* CONTACTS TAB */
.tablink {
  display: inline-block;
  height: 10vh;
  margin: 0;
  padding: 14px 16px;
  background-color: #555;
  outline: none;
  cursor: pointer;
  border: 1.5px solid #b2b2b2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}
.tablink:hover {
  color: white;
  background-color: #1b4332;
}
.tabcontent {
  display: none;
  height: 100%;
}
.tabcontent h1 {
  margin: 0%;
  padding: 14px 2px;
}
#Contact,
#About {
  background-color: #eff3f4;
}
.menu.contacts .select-button,
.menu.contacts .add-button {
  display: flex;
  width: fit-content;
  padding: 10px;
  margin-top: 20px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

/* SMS CONTENT */
.content {
  margin-left: 240px;
}
.container {
  padding-top: 50px;
}

.container.new-message .contact {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.container.new-message .contact .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}
.container.new-message .contact .top {
  display: flex;
  width: 100%;
}
.container.new-message .contact .top span {
  width: fit-content;
}
.container.new-message .contact .top span,
.container.new-message .contact .top input {
  padding: 10px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
}
.contacts-button {
  flex-grow: 1;
}
.container.new-message .contact .top .add-button {
  padding: 10px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  cursor: pointer;
}
.container.new-message .contact .top .add-button:hover {
  background-color: #1b4332;
  color: #eff3f4;
  transition: background-color 0.2s;
}
.container.new-message .contact .top .add-button:disabled,
.container.new-message .contact .top .add-button[disabled] {
  border: 1.5px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.container.new-message .contact a {
  display: flex;
  width: fit-content;
  padding: 10px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  gap: 0.5rem;
}
.container.new-message .contact a:hover {
  background-color: #1b4332;
  color: #eff3f4;
  transition: background-color 0.2s;
}
.container.new-message .sms-message {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container.new-message .sms-message .message {
  display: inline-flex;
  width: 60vw;
  margin-top: 0.5rem;
  padding: 10px;
  color: #202020;
  cursor: pointer;
  outline: none;
  resize: none;
  text-decoration: none;
  border-radius: 5px;
  border: 1.5px solid #b2b2b2;
}
.container.new-message .sms-message .submit {
  display: inline-flex;
  width: fit-content;
  padding: 10px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.container.new-message .sms-message .submit:hover {
  background-color: #1b4332;
  color: #eff3f4;
  transition: background-color 0.2s;
}
.container.new-message .sms-message .submit:disabled,
.container.new-message .sms-message .submit[disabled] {
  border: 1.5px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

/* RECIPIENT TABLE */
table {
  width: 60vw;
  margin-top: 0.5rem;
  margin-right: 10px; 
  border-radius: 5px;
  border: 1.5px solid #b2b2b2;
}
td,
th {
  text-align: left;
  padding: 3px;
  border-radius: 5px;
  border: 1.5px solid #b2b2b2;
}
tr:nth-child(all) {
  background-color: #dddddd;
}

#recipientTable tr:hover {
  background-color: #ddd;
}

.table-containers {
  display: flex;
}

/* For unread messages */
.highlight {
  background-color: #28d645;
}

/* ALERT MESSAGE */
#myAlert {
  visibility: hidden;
  position: fixed;
  color: white;
  border-radius: 10px;
  top: 0;
  right: 0;
  transform: translate(-15px, 15px);
  background: #28d645;
  overflow: hidden;
}
.myAlert-text-icon {
  align-items: stretch;
  box-shadow: 0 1px 1px rgb(10 10 10 / 10%);
  display: flex;
  max-width: 250px;
}
.myAlert-message {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 15px 25px;
}
.close {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: 0 0;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  padding: 0;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
}
#myAlert.show {
  visibility: visible;
}

#myAlert.show {
  animation: show 0.5s forwards;
}

@keyframes show {
  0% {
    transform: translate(-15px, 15px) scale(0);
  }
  50% {
    transform: translate(-15px, 15px) scale(1.2);
  }
  70% {
    transform: translate(-15px, 15px) scale(0.9);
  }
  100% {
    transform: translate(-15px, 15px) scale(1);
  }
}

#myAlertBar {
  height: 2px;
  background-color: #ddd;
  color: white;
  margin-top: 0.5rem;
}
#myAlertProgress {
  background-color: #28d645;
}

/* INBOX */
/* Pop-up message */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.viewButton {
  display: flex;
  width: fit-content;
  padding: 10px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.closeButton {
  display: flex;
  width: fit-content;
  padding: 10px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  float: right;
}
.replyButton {
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  padding: 10px;
}

.viewButton:hover,
.closeButton:hover, 
.replyButton:hover {
  background-color: #1b4332;
  color: #eff3f4;
  transition: background-color 0.2s;
}